
body, h1, h2, form, table {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}


h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}


form {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}


.input {
    width: 80%;
    max-width: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 3%;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: white;
}



th, td {
    padding: 10px;
    text-align: center;
}


.logout-button {
    background-color: #f41625;
    color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 3%;
    cursor: pointer;
}

.logout-button form {
    display: inline;
}


.errors {
    color: red;
    margin-top: 10px;
}
