/* Reset de estilos para eliminar el margen y el relleno predeterminados */
body, h1, h2, form, table {
    margin: 0;
    padding: 0;
}

/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Estilo para el encabezado h1 */
h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

/* Estilo para el formulario */
form {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para las etiquetas de los campos */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

/* Estilo para los campos de entrada */
.input {
    width: 80%;
    max-width: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilo para el botón "Guardar" */
.button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 3%;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

/* Estilo para la tabla de resultados */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: white;
}



th, td {
    padding: 10px;
    text-align: center;
}

/* Estilo para el botón de cerrar sesión */
.logout-button {
    background-color: #f41625;
    color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 3%;
    cursor: pointer;
}

.logout-button form {
    display: inline;
}

/* Estilo para los mensajes de error */
.errors {
    color: red;
    margin-top: 10px;
}
